<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Contact Me</h2>
            <p style="color: #ecf0f1;">
                <i class="fa-solid fa-location-dot"></i> Department of Physics and Astronomy<br>
                &nbsp;&nbsp;Michigan State University<br>
                &nbsp;&nbsp;567 Wilson Road, 3260 BPS<br>
                &nbsp;&nbsp;East Lansing, MI 48824
            </p>
            <p style="color: #ecf0f1;">
                <i class="fa-solid fa-envelope"></i> <a href="mailto:couch@pa.msu.edu"
                    style="color: #3498db;">scouch@msu.edu</a>
            </p>
            <p style="color: #ecf0f1;">
                <i class="fa-solid fa-phone"></i> (517) 884-5035
            </p>
        </header>
        <ul class="actions vertical">
            <li><a href="#" class="button fit special">Activate</a></li>
            <li><a href="#" class="button fit">Learn More</a></li>
        </ul>
    </div>
</section>

